body {
  background: rgb(238, 237, 237);
}
.section-center {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.section-center h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 5rem;
  font-weight: 900;
  color: rgb(18, 151, 235);
  letter-spacing: 2px;
}
.lorem-form {
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: rgb(117, 105, 105);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.lorem-form input {
  outline: none;
  border: none;
  padding: 0.3rem;
}
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  background: rgb(18, 151, 235);
  color: #fff;
  padding: 0.4rem;
  text-transform: capitalize;
}
.btn:hover {
  transform: scale(1.1);
}

.lorem-text {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
}
